* {
    box-sizing: border-box;
  }
  
html {
    height: 100vh;
  }
  
body {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    height: 100vh;
    color: #000000;
  }

article{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 50vw;
    max-width: 30em;
    min-width: 25em;
    border-radius: 2em;
    background: rgba(229,228,226);
    background: linear-gradient(0deg, rgba(245,245,245) 40%, rgba(255,255,255) 100%);
    box-shadow: 0 0 10px 10px rgba(255,240,245);
    
  }

article:hover{
    transform: rotate(360deg);
}

/*------*/
/* head */
/*------*/

header{
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: flex-end;
}

img{
   float: left;
    position: relative;
    width: 9em;
    height: auto;
    margin-top: 2em;
    margin-left: 2em;
    margin-bottom: 1em;
    border-radius: 20%;
    border: 3px solid rgba(255,105,180);
    box-shadow: 0 0 3px 3px rgba(245,245,245);
}

h1{
   float: left;
    color: rgb(255,105,180);
    font-size: 2.4em;
    text-align: center;
    margin-top: 1.9em;
    margin-left: 1.5em;
    letter-spacing: 1.5px;
}


.headinfo{
    font-size: 1em;
    margin-left: 2em;
}


.chaot{
    color:rgb(255,188,217);
    text-align: center;
    font-size: 1.5em;
    margin: 0.5em 0 1.5em;
}


/*------*/
/* info */
/*------*/

.onderwerp{
    display: none;
    writing-mode: vertical-lr;
    float: left;
    margin: 1.5em 1em 0 0;
    color: rgb(255,92,205);
    font-size: 1.5em;
    letter-spacing: 1.5px;
}

.emoji{
    float: left;
    font-size: 2em;
    margin-top: -0.3em;
    margin-left: 1em;
    transition: transform .5s ease-in-out;
}

.emoji:hover {
    transform: rotate(360deg);
}

section > p {
    float: left;
    font-size: 1em;
    margin-top: 0.1em;
    margin-right: 1em;
}
