@import url('https://fonts.googleapis.com/css2?family=Fredoka&display=swap');

.info, .icons, body {
  display: flex;
  justify-content: center;
  align-items: center;
}

html {
  height: 100%;
}

body {
  font-family: "fredoka", sans-serif;
  width: 100%;
  min-height: 100%;
  background: #88AB8E;
  font-size: 16px;
  overflow: hidden;
}

*, *:before, *:after {
  box-sizing: border-box;
}

.content {
  position: relative;
  animation: animatop 0.9s cubic-bezier(0.425, 1.14, 0.47, 1.125) forwards;
}

.card {
  width: 500px;
  min-height: 100px;
  padding: 20px;
  border-radius: 3px;
  background-color: white;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.card:after {
  content: "";
  display: block;
  width: 190px;
  height: 300px;
  background: #AFC8AD;
  position: absolute;
  animation: rotatemagic 0.75s cubic-bezier(0.425, 1.04, 0.47, 1.105) 1s both;
}

/* INFO */

  .info {
    flex-direction: row;
    z-index: 2;
    position: relative;
  }

  .info img {
    border-radius: 50%;
    width: 120px;
    height: 120px;
  }

  .info .info-text {
    padding: 0px 20px;
  }

  h1 {
    font-size: 1.8em;
  }

  h2 {
    font-size: 1.2em;
    color: #88AB8E;
    font-style: italic;
  }

  p {
    color: #5A5A5A;
    line-height: 1.2;
    font-style: initial;
  }

/* ICONS */

  .icons {
    padding: 10px 20px;
    border-radius: 3px;
    background-color: #ECECEC;
    width: 480px;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
    position: absolute;
    left: 10px;
    bottom: 10px;
    animation: animainfos 0.5s cubic-bezier(0.425, 1.04, 0.47, 1.105) 0.75s forwards;
  }

  .icons a {
    font-size: 1.6em;
    margin: 0px 6px;
    opacity: 0.6;
    text-decoration: none;
    cursor: pointer;
    color:#5A5A5A;
  }

  .icons a:hover {
    color: #88AB8E;
  }

/* ANIMATION */

  @keyframes animatop {
    0% {
      opacity: 0;
      bottom: -500px;
    }
    100% {
      opacity: 1;
      bottom: 0px;
    }
  }

  @keyframes animainfos {
    0% {
      bottom: 10px;
    }
    100% {
      bottom: -42px;
    }
  }
  @keyframes rotatemagic {
    0% {
      opacity: 0;
      transform: rotate(0deg);
      top: -24px;
      left: -253px;
    }
    100% {
      transform: rotate(-30deg);
      top: -24px;
      left: -78px;
    }
  }