<%- include('./partials/head') %>
<div class="container">
  <div class="card">
      <H1 class="glitch">
        <span aria-hidden="true">Danique Rijsdijk</span>
        Danique Rijsdijk
      </H1>
      <p>Front end developer</p>
    <div class="contact">
      <a href="https://github.com/xxdaniquee">Github</a>
     </div>
  </div>
</div>

<%- include('./partials/foot') %>
